.temperatureDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 50px;

  border: solid;
  border-radius: 10px;
}
.temperature {
  font-size: xx-large;
  font-weight: bold;
}
.temperatureLine {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
